인구소멸 Catagram

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from pandas import Series, DataFrame 

#그래프
import matplotlib.pyplot as plt

#시각화할 때 한글을 출력하기 위해서
import platform
from matplotlib import font_manager, rc
#한글처리
#메켄도시의 경우
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
#윈도우의 경우
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname = "c://Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

#음수를 표시하기 위한 설정
plt.rcParams['axes.unicode_minus'] = False

Catogram

데이터 가져오기

In [2]:
population = pd.read_excel('c://programming/python/pandasdata/population.xlsx', header=1)
population.info

<bound method DataFrame.info of     행정구역별(시군구)(1) 행정구역별(시군구)(2) 성별(1)        합계   20~24세   25~29세   30~34세  \
0              전국            소계     계  48674177  2676127  3284719  3023482
1             NaN           NaN    남자  24029501  1266355  1713307  1549970
2             NaN           NaN    여자  24644676  1409772  1571412  1473512
3           서울특별시            소계     계   9096901   548245   768413   687804
4             NaN           NaN    남자   4386287   233761   377349   341858
..            ...           ...   ...       ...      ...      ...      ...
958           NaN           NaN    남자    227688    10913    14753    13179
959           NaN           NaN    여자    230860    12180    13867    12978
960           NaN          서귀포시     계    164899     6483     8511     7889
961           NaN           NaN    남자     82173     3098     4363     3954
962           NaN           NaN    여자     82726     3385     4148     3935

      35~39세   40~44세   45~49세   50~54세   55~59세   60~64세   65~69세   70~74세  \
0    3789676  3698794  4289786  4169392  4140190  3578478  2430488  1888139
1    1924470  1869529  2162206  2078150  2059480  1754466  1166572   878584
2    1865206  1829265  2127580  2091242  2080710  1824012  1263916  1009555
3     746830   677660   782455   731258   728273   664875   465250   370242
4     374514   335606   385491   354886   349208   313417   218378   170303
..       ...      ...      ...      ...      ...      ...      ...      ...
958    18381    18486    21966    20339    18267    14854     9068     7330
959    18267    17935    21476    19079    17800    14927     9729     8322
960    11757    12524    15192    14304    14401    12771     8793     7980
961     5897     6590     8227     7605     7422     6386     4221     3774
962     5860     5934     6965     6699     6979     6385     4572     4206

      75~79세   80~84세   85세이상
0    1544916  1001174  600048
1     659165   379422  178713
2     885751   621752  421335
3     280007   163363   96792
4     126711    66754   30757
..       ...      ...     ...
958     5344     3229    1543
959     7130     5457    4813
960     6580     4636    3140
961     2808     1701     780
962     3772     2935    2360

[963 rows x 18 columns]>

데이터 전처리

In [3]:
#결측치를 앞의 데이터로 채우기
population.fillna(method='ffill', inplace=True)
#컬럼이름 변경하기
population.rename(columns = {'행정구역별(시군구)(1)':'광역시도',
'행정구역별(시군구)(2)':'시도',
'합계':'인구수'}, inplace=True)
print(population.head())
#소계를 제외한 데이터만 가져오기
#population = population[(population['시도'] != '소계')]
#print(population.head())

    광역시도  시도 성별(1)       인구수   20~24세   25~29세   30~34세   35~39세   40~44세  \
0     전국  소계     계  48674177  2676127  3284719  3023482  3789676  3698794
1     전국  소계    남자  24029501  1266355  1713307  1549970  1924470  1869529
2     전국  소계    여자  24644676  1409772  1571412  1473512  1865206  1829265
3  서울특별시  소계     계   9096901   548245   768413   687804   746830   677660
4  서울특별시  소계    남자   4386287   233761   377349   341858   374514   335606

    45~49세   50~54세   55~59세   60~64세   65~69세   70~74세   75~79세   80~84세  \
0  4289786  4169392  4140190  3578478  2430488  1888139  1544916  1001174
1  2162206  2078150  2059480  1754466  1166572   878584   659165   379422
2  2127580  2091242  2080710  1824012  1263916  1009555   885751   621752
3   782455   731258   728273   664875   465250   370242   280007   163363
4   385491   354886   349208   313417   218378   170303   126711    66754

    85세이상
0  600048
1  178713
2  421335
3   96792
4   30757

컬럼이름 변경

In [4]:
population.is_copy = False
population.rename(columns = {'성별(1)':'구분'}, inplace=True)
population.loc[population['구분'] == '계', '구분'] = '합계'
print(population.head())

    광역시도  시도  구분       인구수   20~24세   25~29세   30~34세   35~39세   40~44세  \
0     전국  소계  합계  48674177  2676127  3284719  3023482  3789676  3698794
1     전국  소계  남자  24029501  1266355  1713307  1549970  1924470  1869529
2     전국  소계  여자  24644676  1409772  1571412  1473512  1865206  1829265
3  서울특별시  소계  합계   9096901   548245   768413   687804   746830   677660
4  서울특별시  소계  남자   4386287   233761   377349   341858   374514   335606

    45~49세   50~54세   55~59세   60~64세   65~69세   70~74세   75~79세   80~84세  \
0  4289786  4169392  4140190  3578478  2430488  1888139  1544916  1001174
1  2162206  2078150  2059480  1754466  1166572   878584   659165   379422
2  2127580  2091242  2080710  1824012  1263916  1009555   885751   621752
3   782455   731258   728273   664875   465250   370242   280007   163363
4   385491   354886   349208   313417   218378   170303   126711    66754

    85세이상
0  600048
1  178713
2  421335
3   96792
4   30757

청년과 노년 분류

In [5]:
population['20-39세'] = population['20~24세'] + population['25~29세'] + \
population['30~34세'] + population['35~39세']

population['65세이상'] = population['65~69세'] + population['70~74세'] + \
population['75~79세'] + population['80~84세'] + \
population['85세이상']

print(population.head(5))

    광역시도  시도  구분       인구수   20~24세   25~29세   30~34세   35~39세   40~44세  \
0     전국  소계  합계  48674177  2676127  3284719  3023482  3789676  3698794
1     전국  소계  남자  24029501  1266355  1713307  1549970  1924470  1869529
2     전국  소계  여자  24644676  1409772  1571412  1473512  1865206  1829265
3  서울특별시  소계  합계   9096901   548245   768413   687804   746830   677660
4  서울특별시  소계  남자   4386287   233761   377349   341858   374514   335606

    45~49세   50~54세   55~59세   60~64세   65~69세   70~74세   75~79세   80~84세  \
0  4289786  4169392  4140190  3578478  2430488  1888139  1544916  1001174
1  2162206  2078150  2059480  1754466  1166572   878584   659165   379422
2  2127580  2091242  2080710  1824012  1263916  1009555   885751   621752
3   782455   731258   728273   664875   465250   370242   280007   163363
4   385491   354886   349208   313417   218378   170303   126711    66754

    85세이상    20-39세    65세이상
0  600048  12774004  7464765
1  178713   6454102  3262456
2  421335   6319902  4202309
3   96792   2751292  1375654
4   30757   1327482   612903

피벗 테이블 생성

In [6]:
pop = pd.pivot_table(population,
                     index = ['광역시도', '시도'],
                     columns = ['구분'],
                     values = ['인구수', '20-39세', '65세이상'])
print(pop.head())

          20-39세                 65세이상                    인구수
구분            남자     여자      합계     남자     여자      합계      남자      여자      합계
광역시도 시도
강원도  강릉시   25015  20993   46008  17378  23119   40497  101154  101903  203057
     고성군    2307   1699    4006   2957   4048    7005   11933   11688   23621
     동부   107274  99757  207031  60579  80917  141496  429208  440900  870108
     동해시    8801   7510   16311   7075   9077   16152   42093   41795   83888
     면부    32694  25881   58575  39083  48340   87423  164042  157263  321305

새로운 컬럼 추가 - 청년층과 노년층 비율 계산

In [7]:
pop['소멸비율'] = pop['20-39세','여자'] / (pop['65세이상','합계'] / 2)
print(pop.head())

          20-39세                 65세이상                    인구수                  \
구분            남자     여자      합계     남자     여자      합계      남자      여자      합계
광역시도 시도
강원도  강릉시   25015  20993   46008  17378  23119   40497  101154  101903  203057
     고성군    2307   1699    4006   2957   4048    7005   11933   11688   23621
     동부   107274  99757  207031  60579  80917  141496  429208  440900  870108
     동해시    8801   7510   16311   7075   9077   16152   42093   41795   83888
     면부    32694  25881   58575  39083  48340   87423  164042  157263  321305

              소멸비율
구분
광역시도 시도
강원도  강릉시  1.036768
     고성군  0.485082
     동부   1.410033
     동해시  0.929916
     면부   0.592087

청년층과 노년층 비율을 가지고 새로운 컬럼 생성

In [8]:
pop['소멸위기지역'] = pop['소멸비율'] < 1.0
print(pop.head())

          20-39세                 65세이상                    인구수                  \
구분            남자     여자      합계     남자     여자      합계      남자      여자      합계
광역시도 시도
강원도  강릉시   25015  20993   46008  17378  23119   40497  101154  101903  203057
     고성군    2307   1699    4006   2957   4048    7005   11933   11688   23621
     동부   107274  99757  207031  60579  80917  141496  429208  440900  870108
     동해시    8801   7510   16311   7075   9077   16152   42093   41795   83888
     면부    32694  25881   58575  39083  48340   87423  164042  157263  321305

              소멸비율 소멸위기지역
구분
광역시도 시도
강원도  강릉시  1.036768  False
     고성군  0.485082   True
     동부   1.410033  False
     동해시  0.929916   True
     면부   0.592087   True

소멸위기지역 시도이름 확인

In [9]:
print(pop[pop['소멸위기지역']==True].index.get_level_values(1))

Index(['고성군', '동해시', '면부', '삼척시', '양구군', '양양군', '영월군', '읍부', '인제군', '정선군',
       ...
       '청양군', '태안군', '홍성군', '괴산군', '단양군', '면부', '보은군', '영동군', '옥천군', '제천시'],
      dtype='object', name='시도', length=118)

인덱스 초기화 - 인덱스를 컬럼으로 변환

In [10]:
pop.reset_index(inplace=True)
print(pop.head())

   광역시도   시도  20-39세                 65세이상                    인구수          \
구분                남자     여자      합계     남자     여자      합계      남자      여자
0   강원도  강릉시   25015  20993   46008  17378  23119   40497  101154  101903
1   강원도  고성군    2307   1699    4006   2957   4048    7005   11933   11688
2   강원도   동부  107274  99757  207031  60579  80917  141496  429208  440900
3   강원도  동해시    8801   7510   16311   7075   9077   16152   42093   41795
4   강원도   면부   32694  25881   58575  39083  48340   87423  164042  157263

                소멸비율 소멸위기지역
구분      합계
0   203057  1.036768  False
1    23621  0.485082   True
2   870108  1.410033  False
3    83888  0.929916   True
4   321305  0.592087   True

첫번째와 두번째 컬럼 이름을 합쳐서 새로운 컬럼 이름 만들기

In [11]:
tmp_coloumns = [pop.columns.get_level_values(0)[n] + \
                pop.columns.get_level_values(1)[n]
                for n in range(0,len(pop.columns.get_level_values(0)))]

pop.columns = tmp_coloumns
print(pop.head())

  광역시도   시도  20-39세남자  20-39세여자  20-39세합계  65세이상남자  65세이상여자  65세이상합계   인구수남자  \
0  강원도  강릉시     25015     20993     46008    17378    23119    40497  101154
1  강원도  고성군      2307      1699      4006     2957     4048     7005   11933
2  강원도   동부    107274     99757    207031    60579    80917   141496  429208
3  강원도  동해시      8801      7510     16311     7075     9077    16152   42093
4  강원도   면부     32694     25881     58575    39083    48340    87423  164042

    인구수여자   인구수합계      소멸비율  소멸위기지역
0  101903  203057  1.036768   False
1   11688   23621  0.485082    True
2  440900  870108  1.410033   False
3   41795   83888  0.929916    True
4  157263  321305  0.592087    True

데이터 확인

In [12]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   광역시도      321 non-null    object
 1   시도        321 non-null    object
 2   20-39세남자  321 non-null    int64
 3   20-39세여자  321 non-null    int64
 4   20-39세합계  321 non-null    int64
 5   65세이상남자   321 non-null    int64
 6   65세이상여자   321 non-null    int64
 7   65세이상합계   321 non-null    int64
 8   인구수남자     321 non-null    int64
 9   인구수여자     321 non-null    int64
 10  인구수합계     321 non-null    int64
 11  소멸비율      321 non-null    float64
 12  소멸위기지역    321 non-null    bool
dtypes: bool(1), float64(1), int64(9), object(2)
memory usage: 30.5+ KB

시도 고유값 확인

In [15]:
print(pop['시도'].unique())

['강릉시' '고성군' '동부' '동해시' '면부' '삼척시' '소계' '속초시' '양구군' '양양군' '영월군' '원주시' '읍부'
 '인제군' '정선군' '철원군' '춘천시' '태백시' '평창군' '홍천군' '화천군' '횡성군' '가평군' '고양시' '과천시'
 '광명시' '광주시' '구리시' '군포시' '권선구' '기흥구' '김포시' '남양주시' '단원구' '덕양구' '동두천시' '동안구'
 '만안구' '부천시' '분당구' '상록구' '성남시' '수원시' '수정구' '수지구' '시흥시' '안산시' '안성시' '안양시'
 '양주시' '양평군' '여주시' '연천군' '영통구' '오산시' '용인시' '의왕시' '의정부시' '이천시' '일산동구'
 '일산서구' '장안구' '중원구' '처인구' '파주시' '팔달구' '평택시' '포천시' '하남시' '화성시' '거제시' '거창군'
 '김해시' '남해군' '마산합포구' '마산회원구' '밀양시' '사천시' '산청군' '성산구' '양산시' '의령군' '의창구'
 '진주시' '진해구' '창녕군' '창원시' '통영시' '하동군' '함안군' '함양군' '합천군' '경산시' '경주시' '고령군'
 '구미시' '군위군' '김천시' '남구' '문경시' '봉화군' '북구' '상주시' '성주군' '안동시' '영덕군' '영양군'
 '영주시' '영천시' '예천군' '울릉군' '울진군' '의성군' '청도군' '청송군' '칠곡군' '포항시' '광산구' '동구'
 '서구' '달서구' '달성군' '수성구' '중구' '대덕구' '유성구' '강서구' '금정구' '기장군' '동래구' '부산진구'
 '사상구' '사하구' '수영구' '연제구' '영도구' '해운대구' '강남구' '강동구' '강북구' '관악구' '광진구' '구로구'
 '금천구' '노원구' '도봉구' '동대문구' '동작구' '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구'
 '영등포구' '용산구' '은평구' '종로구' '중랑구' '세종시' '울주군' '강화군' '계양구' '남동구' '미추홀구' '부평구'
 '연수구' '옹진군' '강진군' '고흥군' '곡성군' '광양시' '구례군' '나주시' '담양군' '목포시' '무안군' '보성군'
 '순천시' '신안군' '여수시' '영광군' '영암군' '완도군' '장성군' '장흥군' '진도군' '함평군' '해남군' '화순군'
 '고창군' '군산시' '김제시' '남원시' '덕진구' '무주군' '부안군' '순창군' '완산구' '완주군' '익산시' '임실군'
 '장수군' '전주시' '정읍시' '진안군' '서귀포시' '제주시' '계룡시' '공주시' '금산군' '논산시' '당진시' '동남구'
 '보령시' '부여군' '서북구' '서산시' '서천군' '아산시' '예산군' '천안시' '청양군' '태안군' '홍성군' '괴산군'
 '단양군' '보은군' '상당구' '서원구' '영동군' '옥천군' '음성군' '제천시' '증평군' '진천군' '청원구' '청주시'
 '충주시' '흥덕구']

시도 고유 이름

In [19]:
si_name = [None] * len(pop)
#광역시가 아닌 곳 중에서 구를 가지고 있는 시도들의 구이름 디셔너리 생성
tmp_gu_dict = {'수원':['장안구', '권선구', '팔달구', '영통구'],
'성남':['수정구', '중원구', '분당구'],
'안양':['만안구', '동안구'],
'안산':['상록구', '단원구'],
'고양':['덕양구', '일산동구', '일산서구'],
'용인':['처인구', '기흥구', '수지구'],
'청주':['상당구', '서원구', '흥덕구', '청원구'],
'천안':['동남구', '서북구'],
'전주':['완산구', '덕진구'],
'포항':['남구', '북구'],
'창원':['의창구', '성산구', '진해구', '마산합포구', '마산회원구'],
'부천':['오정구', '원미구', '소사구']}

for n in pop.index:
    #고성이 2곳이므로 도를 추가
 if pop['광역시도'][n][-3:] not in ['광역시', '특별시', '자치시']:
    if pop['시도'][n][:-1]=='고성' and pop['광역시도'][n]=='강원도':
        si_name[n] = '고성(강원)'
    elif pop['시도'][n][:-1]=='고성' and pop['광역시도'][n]=='경상남도':
        si_name[n] = '고성(경남)'
    #그 이외의 지역은 마지막 한글자를 제거해서 군 이나 시 글자를 제거
    else:
        si_name[n] = pop['시도'][n][:-1]
    
    for keys, values in tmp_gu_dict.items():
        if pop['시도'][n] in values:
        if len(pop['시도'][n])==2:
            si_name[n] = keys + ' ' + pop['시도'][n]
        elif pop['시도'][n] in ['마산합포구','마산회원구']:
            si_name[n] = keys + ' ' + pop['시도'][n][2:-1]
        else:
            si_name[n] = keys + ' ' + pop['시도'][n][:-1]

    #세종은 이름을 수정
    elif pop['광역시도'][n] == '세종특별자치시':
        si_name[n] = '세종'
    else:
        if len(pop['시도'][n])==2:
            si_name[n] = pop['광역시도'][n][:2] + ' ' + pop['시도'][n]
        else:
            si_name[n] = pop['광역시도'][n][:2] + ' ' + pop['시도'][n][:-1]

print(si_name)

IndentationError: expected an indented block (Temp/ipykernel_14984/2407954069.py, line 29)

도시 이름을 DataFrame에 추가하고 불필요한 데이터 삭제

In [ ]:
pop['ID'] = si_name
del pop['20-39세남자']
del pop['65세이상남자']
del pop['65세이상여자']
print(pop.head())

Cartogram을 위한 엑셀 파일 읽기

In [26]:
draw_korea_raw = pd.read_excel('c://programming/python/pandasdata/draw_korea_raw.xlsx')
print(draw_korea_raw)

       0      1      2       3       4       5      6       7      8      9   \
0     NaN    NaN    NaN     NaN     NaN     NaN    NaN      철원     화천     양구
1     NaN    NaN    NaN      양주     동두천      연천     포천     의정부     인제     춘천
2     NaN    NaN    NaN   고양 덕양  고양 일산동   서울 도봉  서울 노원     남양주     홍천     횡성
3     NaN    NaN     파주  고양 일산서      김포   서울 강북  서울 성북      가평     구리     하남
4     NaN    NaN  부천 소사   안양 만안      광명  서울 서대문  서울 종로  서울 동대문  서울 중랑     양평
5     NaN  인천 강화  부천 원미   안양 동안   서울 은평   서울 마포  서울 중구   서울 성동  서울 강동     여주
6     NaN  인천 서구  부천 오정      시흥   서울 강서   서울 동작  서울 용산   서울 광진  서울 송파     이천
7     NaN  인천 동구  인천 계양   안산 상록   서울 양천   서울 관악  서울 서초   성남 중원     과천     광주
8     NaN    NaN  인천 부평   안산 단원  서울 영등포   서울 금천  서울 강남   성남 분당  성남 수정  용인 수지
9     NaN  인천 중구  인천 남구      화성   서울 구로      군포     의왕   수원 영통  용인 기흥  용인 처인
10  인천 옹진  인천 연수  인천 남동      오산      안성   수원 권선  수원 장안      제천     예천     영주
11     태안     아산  천안 동남   천안 서북      평택      음성  수원 팔달      단양     상주     김천
12    NaN     당진     홍성      예산      공주      진천     충주   청주 흥덕     괴산     칠곡
13    NaN     서산     보령      청양      세종   대전 대덕     증평   청주 청원     보은     고령
14    NaN    NaN     부여      논산      계룡   대전 동구  청주 상당   청주 서원  대구 북구  대구 중구
15    NaN    NaN     서천      금산   대전 유성   대전 중구     옥천      영동  대구 서구  대구 남구
16    NaN    NaN     군산      익산   대전 서구      무주     거창      합천  대구 달서  대구 달성
17    NaN    NaN     부안      김제      완주      장수     함양      창녕     밀양  부산 북구
18    NaN     고창     정읍   전주 덕진      진안      남원     진주      의령  부산 강서  부산 사상
19    NaN     영광     장성   전주 완산      임실      산청     함안      양산  창원 합포  부산 서구
20    NaN     함평     담양      순창      구례      하동  창원 의창   창원 성산  창원 진해     김해
21     신안     무안  광주 광산      곡성      화순      광양     사천   창원 회원     통영    NaN
22     목포     나주  광주 서구   광주 북구      순천      고흥     남해  고성(경남)     거제    NaN
23     해남     영암  광주 남구   광주 동구      여수     NaN    NaN     NaN    NaN    NaN
24     진도     강진     장흥      보성     NaN     NaN    NaN     NaN    NaN    NaN
25    NaN    NaN     완도     NaN     NaN      제주    NaN     NaN    NaN    NaN
26    NaN    NaN    NaN     NaN     NaN     서귀포    NaN     NaN    NaN    NaN

        10     11      12   13
0   고성(강원)    NaN     NaN  NaN
1       속초    NaN     NaN  NaN
2       양양    NaN     NaN  NaN
3       정선     강릉     NaN  NaN
4       태백     동해     NaN  NaN
5       원주     삼척     NaN  NaN
6       평창     울진     NaN  NaN
7       영월     영덕     NaN  NaN
8       문경     봉화     NaN   울릉
9       안동     영양     NaN  NaN
10      구미     청송   포항 북구  NaN
11      군위     의성   포항 남구  NaN
12      영천     경산      경주  NaN
13      청도     성주   울산 북구  NaN
14   대구 수성  울산 울주   울산 동구  NaN
15   대구 동구  울산 중구   울산 남구  NaN
16   부산 금정  부산 동래   부산 기장  NaN
17  부산 부산진  부산 연제  부산 해운대  NaN
18   부산 동구  부산 중구     NaN  NaN
19   부산 사하  부산 남구     NaN  NaN
20   부산 영도  부산 수영     NaN  NaN
21     NaN    NaN     NaN  NaN
22     NaN    NaN     NaN  NaN
23     NaN    NaN     NaN  NaN
24     NaN    NaN     NaN  NaN
25     NaN    NaN     NaN  NaN
26     NaN    NaN     NaN  NaN

좌표를 만들기 위한 컬럼이름을 인덱스로 추가

In [28]:
draw_korea_raw_stacked = pd.DataFrame(draw_korea_raw.stack())
print(draw_korea_raw_stacked)

            0
0  7       철원
   8       화천
   9       양구
   10  고성(강원)
1  3       양주
...       ...
24 2       장흥
   3       보성
25 2       완도
   5       제주
26 5      서귀포

[252 rows x 1 columns]

인덱스 초기화

In [30]:
draw_korea_raw_stacked.reset_index(inplace=True)
print(draw_korea_raw_stacked)

     index  level_0  level_1       0
0        0        0        7      철원
1        1        0        8      화천
2        2        0        9      양구
3        3        0       10  고성(강원)
4        4        1        3      양주
..     ...      ...      ...     ...
247    247       24        2      장흥
248    248       24        3      보성
249    249       25        2      완도
250    250       25        5      제주
251    251       26        5     서귀포

[252 rows x 4 columns]

컬럼 이름 변경

In [32]:
draw_korea_raw_stacked.rename(columns={'level_0':'y', 'level_1':'x', 0:'ID'}, inplace=True)
print(draw_korea_raw_stacked)

     index   y   x      ID
0        0   0   7      철원
1        1   0   8      화천
2        2   0   9      양구
3        3   0  10  고성(강원)
4        4   1   3      양주
..     ...  ..  ..     ...
247    247  24   2      장흥
248    248  24   3      보성
249    249  25   2      완도
250    250  25   5      제주
251    251  26   5     서귀포

[252 rows x 4 columns]

In [ ]:
cartogram 의 기본이 되는 지도 그리기
BORDER_LINES = [[(5, 1), (5,2), (7,2), (7,3), (11,3), (11,0)], # 인천
[(5,4), (5,5), (2,5), (2,7), (4,7), (4,9), (7,9),
(7,7), (9,7), (9,5), (10,5), (10,4), (5,4)], # 서울
[(1,7), (1,8), (3,8), (3,10), (10,10), (10,7),
(12,7), (12,6), (11,6), (11,5), (12, 5), (12,4),
(11,4), (11,3)], # 경기도
[(8,10), (8,11), (6,11), (6,12)], # 강원도
[(12,5), (13,5), (13,4), (14,4), (14,5), (15,5),
(15,4), (16,4), (16,2)], # 충청북도
[(16,4), (17,4), (17,5), (16,5), (16,6), (19,6),
(19,5), (20,5), (20,4), (21,4), (21,3), (19,3), (19,1)], # 전라북도
[(13,5), (13,6), (16,6)], # 대전시
[(13,5), (14,5)], #세종시
[(21,2), (21,3), (22,3), (22,4), (24,4), (24,2), (21,2)], #광주
[(20,5), (21,5), (21,6), (23,6)], #전라남도
[(10,8), (12,8), (12,9), (14,9), (14,8), (16,8), (16,6)], #충청북도
[(14,9), (14,11), (14,12), (13,12), (13,13)], #경상북도
[(15,8), (17,8), (17,10), (16,10), (16,11), (14,11)], #대구
[(17,9), (18,9), (18,8), (19,8), (19,9), (20,9), (20,10), (21,10)], #부산
[(16,11), (16,13)], #울산
# [(9,14), (9,15)],
[(27,5), (27,6), (25,6)],
]
plt.figure(figsize=(8, 11))

# 지역 이름 표시
for idx, row in draw_korea_raw_stacked.iterrows():
# 광역시는 구 이름이 겹치는 경우가 많아서 시단위 이름도 같이 표시
# (중구, 서구)
    if len(row['ID'].split())==2:
        dispname = '{}\n{}'.format(row['ID'].split()[0], row['ID'].split()[1])
    elif row['ID'][:2]=='고성':
        dispname = '고성'
    else:
        dispname = row['ID']
# 서대문구, 서귀포시 같이 이름이 3자 이상인 경우에 작은 글자로 표시한다.
        if len(dispname.splitlines()[-1]) >= 3:
            fontsize, linespacing = 9.5, 1.5
        else:
            fontsize, linespacing = 11, 1.2
            plt.annotate(dispname, (row['x']+0.5, row['y']+0.5), weight='bold',
                         fontsize=fontsize, ha='center', va='center', linespacing=linespacing)

# 시도 경계 그린다.
for path in BORDER_LINES:
    ys, xs = zip(*path)
plt.plot(xs, ys, c='black', lw=1.5)

#y축의 위아래 변경
plt.gca().invert_yaxis()
#plt.gca().set_aspect(1)

#축과 라벨 제거
plt.axis('off')

#자동 레이아웃 설정
plt.tight_layout()
plt.show()

In [ ]:
draw_korea_raw_stacked 와 pop 의 도시이름 일치시키기

In [ ]:
#draw_korea_raw_stacked 와 pop 의 도시이름 비교
print(set(draw_korea_raw_stacked['ID'].unique()) - set(pop['ID'].unique()))
print(set(pop['ID'].unique()) - set(draw_korea_raw_stacked['ID'].unique()))

#일치하지 않는 데이터 삭제
tmp_list = list(set(pop['ID'].unique()) - set(draw_korea_raw_stacked['ID'].unique()))

for tmp in tmp_list:
    pop = pop.drop(pop[pop['ID']==tmp].index)

print(set(pop['ID'].unique()) - set(draw_korea_raw_stacked['ID'].unique()))

draw_korea_raw_stacked 와 pop 의 데이터 합치기

In [ ]:
pop = pd.merge(pop, draw_korea_raw_stacked, how='left', on=['ID'])
print(pop.head())

피봇 테이블 만들기

In [ ]:
mapdata = pop.pivot_table(index='y', columns='x', values='인구수합계')
print(mapdata)

NaN이 아닌 데이터 확인

In [ ]:
masked_mapdata = np.ma.masked_where(np.isnan(mapdata), mapdata)
print(masked_mapdata)

In [ ]:
DataFrame과 컬럼이름 및 색상 값을 받아서 Cartogram을 그려주는 함수

In [ ]:
def drawKorea(targetData, blockedMap, cmapname):
gamma = 0.75
#인구수 데이터의 크고 낮음을 분류하기 위한 값 만들기
whitelabelmin = (max(blockedMap[targetData]) -
min(blockedMap[targetData]))*0.25 + \
min(blockedMap[targetData])
#컬럼이름을 대입하기
datalabel = targetData
#최대값과 최소값 구하기
vmin = min(blockedMap[targetData])
vmax = max(blockedMap[targetData])
#x 와 y를 가지고 피봇 테이블 만들기
mapdata = blockedMap.pivot_table(index='y', columns='x', values=targetData)
#데이터가 존재하는 것 골라내기
masked_mapdata = np.ma.masked_where(np.isnan(mapdata), mapdata)
#그래프 영역 크기 만들기
plt.figure(figsize=(9, 11))
#색상 설정
plt.pcolor(masked_mapdata, vmin=vmin, vmax=vmax, cmap=cmapname,
edgecolor='#aaaaaa', linewidth=0.5)

# 지역 이름 표시
for idx, row in blockedMap.iterrows():
# 광역시는 구 이름이 겹치는 경우가 많아서 시단위 이름도 같이 표시
#(중구, 서구)
if len(row['ID'].split())==2:
dispname = '{}\n{}'.format(row['ID'].split()[0], row['ID'].split()[1])
elif row['ID'][:2]=='고성':
dispname = '고성'
else:
dispname = row['ID']
# 서대문구, 서귀포시 같이 이름이 3자 이상인 경우에 작은 글자로 표시
if len(dispname.splitlines()[-1]) >= 3:
fontsize, linespacing = 10.0, 1.1
else:
fontsize, linespacing = 11, 1.
#글자색상 만들기
annocolor = 'white' if row[targetData] > whitelabelmin else 'black'
#텍스트 출력하기
plt.annotate(dispname, (row['x']+0.5, row['y']+0.5), weight='bold',
fontsize=fontsize, ha='center', va='center', color=annocolor,
linespacing=linespacing)

# 시도 경계 그리기
for path in BORDER_LINES:
ys, xs = zip(*path)
plt.plot(xs, ys, c='black', lw=2)
plt.gca().invert_yaxis()
plt.axis('off')
cb = plt.colorbar(shrink=.1, aspect=10)
cb.set_label(datalabel)
plt.tight_layout()
plt.show()

In [ ]:
인구수 합계로 Cartogram 그리기

In [ ]:
drawKorea('인구수합계', pop, 'Blues')

In [ ]:
소멸위기지역으로 Cartogram 그리기

In [ ]:
pop['소멸위기지역'] = [1 if con else 0 for con in pop['소멸위기지역']]
drawKorea('소멸위기지역', pop, 'Reds')

In [ ]:
여성비율로 Cartogram 그리기

In [ ]:
pop['여성비'] = (pop['인구수여자']/pop['인구수합계'])*100
drawKorea('여성비', pop, 'RdBu')

In [ ]:
청년 층의 여성 비율을 이용한 Cartogram 그리기

In [ ]:
pop['2030여성비'] = (pop['20-39세여자']/pop['20-39세합계'])*100
drawKorea('2030여성비', pop, 'RdBu')