데이터 수집

##공통적으로 사용하는 패키지

In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#관계형 데이터베이스에서 공통된 인터페이스를 사용하기 위한 패키지
from sqlalchemy import create_engine

관계형 데이터베이스 연동

sqlite3 연동

In [10]:
import sqlite3
#데이터베이스 연결
con = sqlite3.connect('c://programming/python/pandasdata/sample.db')

#데이터베이스에 sql을 실행하기 위한 커서를 가져온다
cursor = con.cursor()

#pl이라는 테이블이 존재하면 삭제 -sql 실행
cursor.execute("drop table if exists pl")
#작업완료
con.commit()

#테이블 생성
cursor.execute("""create table pl(
                id integer not null primary key autoincrement,
                name text not null,
                language text not null)""")

#데이터 삽입
cursor.execute("""insert into pl(name, language) values('데니스 리치히', 'C')""")
cursor.execute("""insert into pl(name, language) values('귀도 반 로썸', '파이썬')""")
cursor.execute("""insert into pl(name, language) values('제임스 고슬링', '자바')""")


cursor.execute('select * from pl')
for row in cursor:
    print(row)
    
#작업완료
con.commit()

(1, '데니스 리치히', 'C')
(2, '귀도 반 로썸', '파이썬')
(3, '제임스 고슬링', '자바')

sqlalcjemy이용해서 데이터읽기

In [16]:
#데이터베이스 연결
import sqllite3
con = create_engine("c://programming/python/pandasdata/sample.db")

#데이터베이스 읽어오기
df = pd.read_sql_query("select * from pl", con)

print(df)

ModuleNotFoundError: No module named 'sqllite3'

oracle

In [17]:
#데이터베이스 읽어오기
con = create_emgine("oracle://system:wnddkd@local:1521/xe")

#데이터 읽어오기
df = pd.read_sql_query('select * from dept', con)

print(df)

NameError: name 'create_emgine' is not defined

MySQL

In [18]:
import pymysql

pymysql.install_as_MySQLdb()
import MySQLdb

#데이터베이스 연결
con = create_engine("mysql+mysqldb://user00:user00@localhost/cyberadam")

#데이터 읽어오기
df = pd.read_sql_query('select * from ittask', con)

print(df)

ModuleNotFoundError: No module named 'pymysql'

###데이터 탐색

##데이터 선택

열 선택

In [26]:
#item.csv 파일의 내용을 가져오기
#한글없고 첫번째 행이 열의 이름이고 구분자는 ,
df = pd.read_csv('c://programming/python/pandasdata/item.csv')

#요약정보를 확인
df.info()

#데이터를 확인
print(df)

#인덱스를 직접 설정
df.index = df.name
print(df)
print()

df.index = ['사과', '수박', '참외', '바나나', '레몬', '망고']
print(df)

#name컬럼의 값을 전부 가져오기
print(df.name)
print()
print(df['name'])

#하나의 컬럼을 가져왔을 때 자료형 - Series
print(type(df['name']))

#여러 개의 열의 데이터를 가져오기
print(df[['name', 'price']])

#여러개의 열을 가져오는 문법을 사용하면 DataFrame을 리턴
print(type(df[['name', 'price']]))

#하나의 열을 가져올 때도 DataFrame을 만들기 위해서 list형태로 설정하기도 함
print(type(df[['name']]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         6 non-null      int64
 1   manufacture  6 non-null      object
 2   name         6 non-null      object
 3   price        6 non-null      int64
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes
   code  manufacture            name  price
0     1        korea           apple   1500
1     2        korea      watermelon  15000
2     3        korea  oriental melon   1000
3     4  philippines          banana    500
4     5        korea           lemon   1500
5     6        korea           mango    700
                code  manufacture            name  price
name
apple              1        korea           apple   1500
watermelon         2        korea      watermelon  15000
oriental melon     3        korea  oriental melon   1000
banana             4  philippines          banana    500
lemon              5        korea           lemon   1500
mango              6        korea           mango    700

     code  manufacture            name  price
사과      1        korea           apple   1500
수박      2        korea      watermelon  15000
참외      3        korea  oriental melon   1000
바나나     4  philippines          banana    500
레몬      5        korea           lemon   1500
망고      6        korea           mango    700
사과              apple
수박         watermelon
참외     oriental melon
바나나            banana
레몬              lemon
망고              mango
Name: name, dtype: object

사과              apple
수박         watermelon
참외     oriental melon
바나나            banana
레몬              lemon
망고              mango
Name: name, dtype: object
<class 'pandas.core.series.Series'>
               name  price
사과            apple   1500
수박       watermelon  15000
참외   oriental melon   1000
바나나          banana    500
레몬            lemon   1500
망고            mango    700
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>