# 6.데이터 선택

In [2]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

        이름    학교    키   국어  수학  영어  과학  사회          특기
지원번호
1번     kim  덕원여고  167   85  95  90  88  80      python
2번     hur  덕원여고  165   90  81  95  79  93        java
3번    park  덕원여고  180   70  73  89  60  91           c
4번    jung   화곡고  172   89  86  61  95  80           c
5번     lee  광영여고  176  100  91  70  86  94        java
6번    choi  덕원여고  161   61  40  80  54  79  javascript
7번     han   화곡고  159   50  80  86  75  81      python

## Column 선택 => label

In [4]:
df['이름']

지원번호
1번     kim
2번     hur
3번    park
4번    jung
5번     lee
6번    choi
7번     han
Name: 이름, dtype: object

In [7]:
# 일부 선택된 열 가져오기 - 단 df[[가져올 column 명]], [] 2개
df[['이름', '키']]

        이름    키
지원번호
1번     kim  167
2번     hur  165
3번    park  180
4번    jung  172
5번     lee  176
6번    choi  161
7번     han  159

## Column 선택(정수 index)

In [9]:
df.columns

Index(['이름', '학교', '키', '국어', '수학', '영어', '과학', '사회', '특기'], dtype='object')

In [10]:
df.columns[0]

'이름'

In [11]:
#열의 이름을 모를경우 / 위치만 알 경우
df[df.columns[0]]

지원번호
1번     kim
2번     hur
3번    park
4번    jung
5번     lee
6번    choi
7번     han
Name: 이름, dtype: object

In [12]:
#맨 끝의 열 가져오기
df[df.columns[-1]]

지원번호
1번        python
2번          java
3번             c
4번             c
5번          java
6번    javascript
7번        python
Name: 특기, dtype: object

## 슬라이싱

In [13]:
#특정 열의 부분만 가져오기
df['영어'][0:5]

지원번호
1번    90
2번    95
3번    89
4번    61
5번    70
Name: 영어, dtype: int64

In [14]:
df[['이름', '키']][:3]

        이름    키
지원번호
1번     kim  167
2번     hur  165
3번    park  180

In [18]:
df[3:]

        이름    학교    키   국어  수학  영어  과학  사회          특기
지원번호
4번    jung   화곡고  172   89  86  61  95  80           c
5번     lee  광영여고  176  100  91  70  86  94        java
6번    choi  덕원여고  161   61  40  80  54  79  javascript
7번     han   화곡고  159   50  80  86  75  81      python