# 7.데이터 선택(loc)
이름을 이용하여 원하는 row에서 원하는 col 선택 - loc(조건, 출력)

In [2]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

        이름    학교    키   국어  수학  영어  과학  사회          특기
지원번호
1번     kim  덕원여고  167   85  95  90  88  80      python
2번     hur  덕원여고  165   90  81  95  79  93        java
3번    park  덕원여고  180   70  73  89  60  91           c
4번    jung   화곡고  172   89  86  61  95  80           c
5번     lee  광영여고  176  100  91  70  86  94        java
6번    choi  덕원여고  161   61  40  80  54  79  javascript
7번     han   화곡고  159   50  80  86  75  81      python

In [3]:
#index에 해당하는 전체 데이터
df.loc['1번']

이름       kim
학교      덕원여고
키        167
국어        85
수학        95
영어        90
과학        88
사회        80
특기    python
Name: 1번, dtype: object

In [15]:
#index에 해당하는 전체 데이터 - 단, 위치를 알아야함
df[:1]

       이름    학교    키  국어  수학  영어  과학  사회      특기
지원번호
1번    kim  덕원여고  167  85  95  90  88  80  python

In [17]:
#index에 해당하는 전체 데이터 중 일부 데이터 추출
df.loc['1번', '국어']

85

In [18]:
#여러 index에 해당하는 전체 데이터 중 일부 데이터 추출
df.loc[['1번', '2번'], '영어']

지원번호
1번    90
2번    95
Name: 영어, dtype: int64

In [19]:
#여러 index에 해당하는 전체 데이터 중 여러 데이터 추출
df.loc[['1번', '2번'], ['영어', '수학']]

      영어  수학
지원번호
1번    90  95
2번    95  81

In [21]:
#여러 index에 해당하는 전체 데이터 중 여러 데이터 추출 - 슬라이싱 이용
# - 1번에서 2번까지, 국어에서 사회까지 - 슬라이싱은 마지막 부분 제외되나 예외
df.loc['1번':'2번', '국어':'사회']

      국어  수학  영어  과학  사회
지원번호
1번    85  95  90  88  80
2번    90  81  95  79  93