# 8.데이터 선택(iloc - integer)
위치를 이용하여 원하는 row와 원하는 column 가져오기

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

        이름    학교    키   국어  수학  영어  과학  사회          특기
지원번호
1번     kim  덕원여고  167   85  95  90  88  80      python
2번     hur  덕원여고  165   90  81  95  79  93        java
3번    park  덕원여고  180   70  73  89  60  91           c
4번    jung   화곡고  172   89  86  61  95  80           c
5번     lee  광영여고  176  100  91  70  86  94        java
6번    choi  덕원여고  161   61  40  80  54  79  javascript
7번     han   화곡고  159   50  80  86  75  81      python

In [2]:
#n번째 위치의 데이터
df.iloc[0]

이름       kim
학교      덕원여고
키        167
국어        85
수학        95
영어        90
과학        88
사회        80
특기    python
Name: 1번, dtype: object

In [4]:
#n1~n2번째 위치의 데이터 - 2~3번째 위치의 데이터
df.iloc[2:4]

        이름    학교    키  국어  수학  영어  과학  사회 특기
지원번호
3번    park  덕원여고  180  70  73  89  60  91  c
4번    jung   화곡고  172  89  86  61  95  80  c

In [6]:
#row, column 위치의 데이터 - 1번째 row, 3번째 column
df.iloc[1, 3]

90

In [8]:
#여러 row, 일부 column 위치의 데이터 - 1, 2번째 row, 2번째 column
df.iloc[[1, 3], 2]

지원번호
2번    165
4번    172
Name: 키, dtype: int64

In [16]:
#여러 row, 여러 column 위치의 데이터 - 1, 3번째 row, 2, 3번째 column
df.iloc[[1, 3], [2, 3]]

        키  국어
지원번호
2번    165  90
4번    172  89

In [17]:
#여러 row, 여러 column 위치의 데이터 - 1, 3, 5번째 row, 2, 3번째 column
df.iloc[[1, 3, 5], [2, 3]]

        키  국어
지원번호
2번    165  90
4번    172  89
6번    161  61

In [14]:
#여러 row, 여러 column 위치의 데이터 - 1~2번째 row, 2~3번째 column - 슬라이싱
df.iloc[1:3, 2:4]

        키  국어
지원번호
2번    165  90
3번    180  70